<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1>Calculadora</h1>
        <form action="/calcular" method="post">
            <input value=0 placeholder="number1" type="number" name="number1" required>
            <input value=0 placeholder="number2" type="number" name="number2">
            <select name="operation" id="operation" required>
                <option value="sqrt">Raiz Quadrada</option>
                <option value="pow">Exponencial</option>
                <option value="log">Logaritmo</option>
            </select>
            <button type="submit">Calcular</button>
        </form>
    </body>
</html>